/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-btn {
	display: inline-block;
	padding: 1.4em 2em;

	border-radius: 50em;
	background-color: $color-2;
	box-shadow: 0 1px 20px rgba($color-2, .2), inset 0 1px 0 rgba(#fff, .4);

	color: $color-4;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;

	@include transition(box-shadow .2s);

	.no-touch &:hover {
		box-shadow: 0 1px 30px rgba($color-2, .4), inset 0 1px 0 rgba(#fff, .4);
	}
}

.cd-img-replace {
	/* replace text with image */
	color: transparent;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}